h1{
  text-align:center;
   font-family:Luminari;
}
h2{
  text-align:center;
   font-family:Luminari;
}
h3{
  text-align:center;
   font-family:Luminari;
}
p{
  text-align:center;
   font-family:Luminari;
}
body {
   background-color: tan;
   padding: 50px;
  }
a {display: block;
  margin-left:550pt;
  width: 50%;}